USE [master]
GO
/****** Object:  Database [DbMesajlasma]    Script Date: 1.04.2020 19:40:07 ******/
CREATE DATABASE [DbMesajlasma]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbMesajlasma].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbMesajlasma]
GO
/****** Object:  Table [dbo].[tblKisiler]    Script Date: 1.04.2020 19:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKisiler](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](20) NULL,
	[Soyad] [varchar](20) NULL,
	[Numara] [char](4) NULL,
	[Sifre] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMesajlar]    Script Date: 1.04.2020 19:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMesajlar](
	[MesajId] [smallint] IDENTITY(1,1) NOT NULL,
	[Gonderen] [char](4) NULL,
	[Alici] [char](4) NULL,
	[Baslik] [varchar](50) NULL,
	[Icerik] [varchar](1000) NULL
) ON [PRIMARY]
GO
USE [master]
GO
